In [7]:
import pandas as pd
pd.__version__

'2.2.3'

In [16]:
df = pd.read_csv('yellow.csv', nrows=100)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [9]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

SyntaxError: unterminated string literal (detected at line 1) (1006987482.py, line 1)

In [10]:
# sqlalchemy를 이용해 데이터 연결 객체 engine 생성
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
#engine.connect()

In [17]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge BIGINT,
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [19]:
df_iter = pd.read_csv('yellow.csv', iterator=True, chunksize=100000)

In [20]:
df = next(df_iter)

In [21]:
len(df)

100000

In [22]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [24]:

df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace') #테이블이 존재하면 drop하고 다시 생성

0

In [25]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append') #데이터만 추가

CPU times: total: 4.8 s
Wall time: 10.1 s

1000

In [27]:
from time import time

while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append') 
    t_end = time()
    print('insert... %.3f' % (t_end - t_start))

insert... 9.503
insert... 10.038
insert... 11.082
insert... 11.873
insert... 11.297
insert... 11.387
insert... 12.246
insert... 14.401
insert... 12.841
insert... 11.600
insert... 11.768
insert... 11.715
insert... 11.818
insert... 11.930
insert... 11.852
insert... 13.247
insert... 11.407
insert... 11.841
insert... 11.820
insert... 12.717
insert... 12.402
insert... 14.315
insert... 12.527
insert... 12.896

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type bigint: "\N"
LINE 1: ...04'::timestamp, '2025-01-17T18:19:55'::timestamp, '\N', 0.0,...
                                                             ^

[SQL: INSERT INTO yellow_taxi_data (index, "VendorID", tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, "RatecodeID", store_and_fwd_flag, "PULocationID", "DOLocationID", payment_type, fare_amount, extra, mta_tax, tip_amount, tol ... 474790 characters truncated ... vement_surcharge__999)s, %(total_amount__999)s, %(congestion_surcharge__999)s, %(Airport_fee__999)s)]
[parameters: {'Airport_fee__0': '0', 'tolls_amount__0': 0.0, 'improvement_surcharge__0': 1.0, 'tpep_pickup_datetime__0': datetime.datetime(2025, 1, 29, 3, 19, 10), 'payment_type__0': 1, 'RatecodeID__0': '1', 'VendorID__0': 2, 'extra__0': 1.0, 'DOLocationID__0': 68, 'passenger_count__0': '1', 'PULocationID__0': 170, 'total_amount__0': 17.06, 'tpep_dropoff_datetime__0': datetime.datetime(2025, 1, 29, 3, 25, 56), 'mta_tax__0': 0.5, 'store_and_fwd_flag__0': 'N', 'fare_amount__0': 7.9, 'trip_distance__0': 1.24, 'congestion_surcharge__0': '2.5', 'tip_amount__0': 3.41, 'index__0': 2620000, 'Airport_fee__1': '0', 'tolls_amount__1': 0.0, 'improvement_surcharge__1': 1.0, 'tpep_pickup_datetime__1': datetime.datetime(2025, 1, 29, 3, 29, 56), 'payment_type__1': 1, 'RatecodeID__1': '1', 'VendorID__1': 2, 'extra__1': 1.0, 'DOLocationID__1': 166, 'passenger_count__1': '1', 'PULocationID__1': 68, 'total_amount__1': 33.69, 'tpep_dropoff_datetime__1': datetime.datetime(2025, 1, 29, 3, 45, 23), 'mta_tax__1': 0.5, 'store_and_fwd_flag__1': 'N', 'fare_amount__1': 21.2, 'trip_distance__1': 4.41, 'congestion_surcharge__1': '2.5', 'tip_amount__1': 6.74, 'index__1': 2620001, 'Airport_fee__2': '0', 'tolls_amount__2': 0.0, 'improvement_surcharge__2': 1.0, 'tpep_pickup_datetime__2': datetime.datetime(2025, 1, 29, 3, 35, 38), 'payment_type__2': 1, 'RatecodeID__2': '1', 'VendorID__2': 1, 'extra__2': 4.25, 'DOLocationID__2': 87, 'passenger_count__2': '1' ... 19900 parameters truncated ... 'PULocationID__997': 137, 'total_amount__997': 15.22, 'tpep_dropoff_datetime__997': datetime.datetime(2025, 1, 17, 19, 59, 53), 'mta_tax__997': 0.5, 'store_and_fwd_flag__997': '\\N', 'fare_amount__997': 10.47, 'trip_distance__997': 0.0, 'congestion_surcharge__997': '\\N', 'tip_amount__997': 0.0, 'index__997': 2620997, 'Airport_fee__998': '\\N', 'tolls_amount__998': 0.0, 'improvement_surcharge__998': 1.0, 'tpep_pickup_datetime__998': datetime.datetime(2025, 1, 17, 19, 20, 59), 'payment_type__998': 0, 'RatecodeID__998': '\\N', 'VendorID__998': 2, 'extra__998': 0.0, 'DOLocationID__998': 42, 'passenger_count__998': '\\N', 'PULocationID__998': 24, 'total_amount__998': 12.45, 'tpep_dropoff_datetime__998': datetime.datetime(2025, 1, 17, 19, 29, 5), 'mta_tax__998': 0.5, 'store_and_fwd_flag__998': '\\N', 'fare_amount__998': 10.95, 'trip_distance__998': 0.0, 'congestion_surcharge__998': '\\N', 'tip_amount__998': 0.0, 'index__998': 2620998, 'Airport_fee__999': '\\N', 'tolls_amount__999': 0.0, 'improvement_surcharge__999': 1.0, 'tpep_pickup_datetime__999': datetime.datetime(2025, 1, 17, 19, 6, 53), 'payment_type__999': 0, 'RatecodeID__999': '\\N', 'VendorID__999': 2, 'extra__999': 0.0, 'DOLocationID__999': 142, 'passenger_count__999': '\\N', 'PULocationID__999': 238, 'total_amount__999': 16.03, 'tpep_dropoff_datetime__999': datetime.datetime(2025, 1, 17, 19, 17, 51), 'mta_tax__999': 0.5, 'store_and_fwd_flag__999': '\\N', 'fare_amount__999': 12.03, 'trip_distance__999': 1.67, 'congestion_surcharge__999': '\\N', 'tip_amount__999': 0.0, 'index__999': 2620999}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)