In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\malgn\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\malgn\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\malgn\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\malgn\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\malgn\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\malgn\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\malgn\appdata\local\programs\python\python313\lib\site-packages (2.0.40)
Requirement already satisfied: greenlet>=1 in c:\users\malgn\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\malgn\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.13.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
pd.__version__

'2.2.3'

In [4]:
df = pd.read_csv('yellow.csv', nrows=100)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2025-01-01 00:18:38.000000,2025-01-01 00:26:59.000000,1,1.60,1,N,229,237,1,10.0,3.5,0.5,3.00,0.00,1,18.00,2.5,0.0
1,1,2025-01-01 00:32:40.000000,2025-01-01 00:35:13.000000,1,0.50,1,N,236,237,1,5.1,3.5,0.5,2.02,0.00,1,12.12,2.5,0.0
2,1,2025-01-01 00:44:04.000000,2025-01-01 00:46:01.000000,1,0.60,1,N,141,141,1,5.1,3.5,0.5,2.00,0.00,1,12.10,2.5,0.0
3,2,2025-01-01 00:14:27.000000,2025-01-01 00:20:01.000000,3,0.52,1,N,244,244,2,7.2,1.0,0.5,0.00,0.00,1,9.70,0.0,0.0
4,2,2025-01-01 00:21:34.000000,2025-01-01 00:25:06.000000,3,0.66,1,N,244,116,2,5.8,1.0,0.5,0.00,0.00,1,8.30,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2025-01-01 00:19:30.000000,2025-01-01 00:27:25.000000,0,1.00,1,N,211,158,1,9.3,3.5,0.5,2.85,0.00,1,17.15,2.5,0.0
96,1,2025-01-01 00:33:13.000000,2025-01-01 00:40:08.000000,0,1.20,1,N,158,68,1,8.6,3.5,0.5,1.00,0.00,1,14.60,2.5,0.0
97,1,2025-01-01 00:45:05.000000,2025-01-01 01:20:32.000000,0,1.80,1,N,68,50,1,28.2,3.5,0.5,8.30,0.00,1,41.50,2.5,0.0
98,2,2025-01-01 00:04:29.000000,2025-01-01 00:55:58.000000,9,31.97,5,N,132,265,2,90.0,0.0,0.0,0.00,20.32,1,111.32,0.0,0.0
99,2,2025-01-01 00:08:48.000000,2025-01-01 00:14:02.000000,1,0.93,1,N,229,233,2,7.2,1.0,0.5,0.00,0.00,1,12.20,2.5,0.0

In [6]:

from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
engine.connect()

In [5]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" INTEGER,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)